# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Run Backend: cd backend && .\venv\Scripts\activate && uvicorn main:app --reload
# Run Frontend: cd frontend && npm run dev
# Backend URL:  http://127.0.0.1:8000 (Docs: /docs)
# Frontend URL: http://localhost:5173
